.dashboard{

    margin-top:20px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(6,1fr);

    gap:20px;

    margin-top:25px;

}

.card{

    background:linear-gradient(145deg,#182235,#101827);

    border-radius:22px;

    padding:25px;

    min-height:140px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
        0 15px 35px rgba(0,0,0,.45),
        inset 0 1px 0 rgba(255,255,255,.05);

    transition:.35s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:
        0 25px 45px rgba(0,0,0,.60),
        0 0 30px rgba(59,130,246,.25);

}

.card h3{

    font-size:15px;

    color:#cbd5e1;

    margin-bottom:18px;

}

.numero{

    font-size:46px;

    font-weight:800;

    color:white;

}

.scaduti{

    border-left:6px solid #ef4444;

}

.g3{

    border-left:6px solid #f97316;

}

.g7{

    border-left:6px solid #facc15;

}

.g10{

    border-left:6px solid #22c55e;

}

.g15{

    border-left:6px solid #14b8a6;

}

.totale{

    border-left:6px solid #3b82f6;

}
