/* ==========================
   SIDEBAR
========================== */

.sidebar{
    width:270px;
    min-height:100vh;
    background:#111827;
    border-right:1px solid rgba(255,255,255,.08);
    display:flex;
    flex-direction:column;
    padding:30px 20px;
}

.logo{
    margin-bottom:40px;
}

.logo h2{
    color:#ffffff;
    font-size:28px;
    font-weight:800;
    letter-spacing:1px;
}

.logo span{
    display:block;
    color:#3B82F6;
    font-size:13px;
    margin-top:6px;
    letter-spacing:2px;
    text-transform:uppercase;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sidebar nav a{
    text-decoration:none;
    color:#cbd5e1;
    padding:16px 18px;
    border-radius:14px;
    transition:.3s;
    font-size:16px;
    font-weight:500;
}

.sidebar nav a:hover{
    background:#1d4ed8;
    color:white;
    transform:translateX(5px);
}

.sidebar nav a.active{
    background:linear-gradient(90deg,#2563eb,#3b82f6);
    color:white;
    box-shadow:0 8px 20px rgba(59,130,246,.35);
}
