/* ======================================================
   SIDEBAR - SCADENZE SMART GDO ENTERPRISE
====================================================== */

.sidebar{

    width:270px;
    background:#111827;

    display:flex;
    flex-direction:column;

    padding:28px 20px;

    border-right:1px solid rgba(255,255,255,.06);

}

/* ---------------- LOGO ---------------- */

.logo-placeholder{

    height:90px;

    border-radius:20px;

    background:linear-gradient(135deg,#2563EB,#1D4ED8);

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-size:30px;

    font-weight:800;

    letter-spacing:3px;

    margin-bottom:45px;

    box-shadow:0 20px 35px rgba(37,99,235,.30);

}

/* ---------------- MENU ---------------- */

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:8px;

}

.sidebar nav a{

    display:flex;

    align-items:center;

    height:52px;

    padding:0 18px;

    border-radius:14px;

    color:#CBD5E1;

    text-decoration:none;

    font-size:15px;

    font-weight:500;

    transition:.30s;

}

.sidebar nav a:hover{

    background:#1E293B;

    color:white;

    transform:translateX(6px);

}

.sidebar nav a.active{

    background:linear-gradient(90deg,#2563EB,#3B82F6);

    color:white;

    box-shadow:0 12px 25px rgba(37,99,235,.35);

}

/* -------- spazio inferiore ---------- */

.sidebar::after{

    content:"";

    flex:1;

}
