/* ====================================================
   SCADENZE SMART GDO ENTERPRISE
   GLOBAL STYLE
==================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --background:#0B1220;
    --surface:#121C2D;
    --card:#1A2437;

    --primary:#3B82F6;
    --success:#22C55E;
    --warning:#FACC15;
    --orange:#F97316;
    --danger:#EF4444;

    --text:#FFFFFF;
    --text2:#94A3B8;

    --radius:20px;

}

body{

    font-family:'Inter',sans-serif;

    background:var(--background);

    color:var(--text);

}

.layout{

    display:grid;

    grid-template-columns:280px 1fr;

    min-height:100vh;

}

.main{

    padding:30px;

}

button{

    border:none;

    cursor:pointer;

}

input{

    font-family:'Inter',sans-serif;

}
