/* ===========================
   SCADENZE SMART GDO
   GLOBAL STYLE
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg:#0B1120;
    --sidebar:#121A2B;
    --panel:#182235;

    --blue:#3B82F6;
    --green:#22C55E;
    --orange:#F97316;
    --yellow:#FACC15;
    --red:#EF4444;

    --text:#FFFFFF;
    --text2:#94A3B8;

}

body{

    background:var(--bg);

    color:var(--text);

    font-family:'Inter',sans-serif;

}

.layout{

    display:grid;

    grid-template-columns:230px 1fr;

    min-height:100vh;

}

main{

    padding:30px;

}

.dashboard{

    display:grid;

    grid-template-columns:1fr 340px;

    gap:25px;

    margin-top:25px;

}
