 /* ==========================
   TOPBAR
========================== */

.content{
    flex:1;
    background:#0B1220;
    padding:30px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.topbar input{
    width:520px;
    height:52px;
    background:#1A2332;
    border:none;
    border-radius:30px;
    padding:0 22px;
    color:#ffffff;
    font-size:16px;
    outline:none;
    transition:.3s;
}

.topbar input::placeholder{
    color:#94A3B8;
}

.topbar input:focus{
    box-shadow:0 0 0 3px rgba(59,130,246,.30);
}

.utente{
    display:flex;
    align-items:center;
    gap:15px;
}

.avatar{
    width:48px;
    height:48px;
    border-radius:50%;
    background:linear-gradient(135deg,#2563EB,#60A5FA);
}

.utente strong{
    color:#fff;
    font-size:16px;
}
